body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
